.budget-summary {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
  }
  
  .budget-summary h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  